scikit-learn==1.6.1  # 머신러닝 라이브러리
numpy==2.2.2        # 수학 계산 패키지
pandas==2.2.3        # 데이터 처리 및 분석
matplotlib==3.10.0   # 시각화 도구
seaborn==0.13.2    # 데이터 시각화 확장

# Numpy version: 2.2.2
# Scikit-learn version: 1.6.1
# Pandas version: 2.2.3
# Matplotlib version: 3.10.0
# Seaborn version: 0.13.2
# Python version : 3.12.2